.detailSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px gray;
  border-radius: 2rem;
  margin: 3rem;

  @media all and (min-width: 768px) {
    width: 80rem;
    height: 50rem;
    flex-direction: row;
  }
}

.textDetailContainer {
  margin-bottom: 2rem;
  color: #fcf5e7;
}

.background-Gryffindor {
  background-color: #740001;
}

.background-Slytherin {
  background-color: #1a472a;
}

.background-Ravenclaw {
  background-color: #222f5b;
}

.background-Hufflepuff {
  background-color: #c2a905;
}
.imgDetail {
  width: 15rem;
  height: 20rem;
  border-radius: 2rem;
  margin: 2rem;

  @media all and (min-width: 768px) {
    width: 30rem;
    height: 40rem;
  }
}

.titleDetail {
  font-size: 2rem;
  margin-bottom: 1rem;

  @media all and (min-width: 768px) {
    font-size: 3rem;
  }
}

.textDetail {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;

  @media all and (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.backBtnDetail {
  text-decoration: none;
  color: #42260e;
  font-size: 2rem;
  background-color: #aa8855;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 3.5rem;
}

.imgHouseDetail {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;

  @media all and (min-width: 768px) {
    width: 20rem;
    height: 20rem;
  }
}
